.gameContainer {
    position:relative;
}

.alignedCanvas {
    display: absolute;    
    top: 0;
    left: 0;
}

#waterfallCanvas {
    width: 450;
    height: 680;
    display: absolute;
}

#satchelCanvas {
    width: 250;
    height: 680;
    display: absolute;
    x: 450;
    y: 680;
}

#effectsCanvas {
    width: 700;
    height: 680;
    display: absolute;
    top: 0;
    left: 0;
}